
<div class="container">
    <div class="forms-container">
    
        <div class="signin-signup">
            <form action="/auth/login" method="post" class="sign-in-form">
                <a href="/" class="" align="center">
                    <img src="/img/logo.png" width="30%" alt="">
                </a>
                <h2 class="title">Sign In</h2>
            <% include ./../partials/messages %> 
            
            <div class="input-field"> 
                <i class="fas fa-user"></i>
                <input type="text" name="email" placeholder="Email" />
            </div>
            <div class="input-field">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" placeholder="Password" />
            </div>
            <div class="form-check form-switch my-4">
                <input class="form-check-input" name="admin" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Admin</label>
            </div>
            <input type="submit" value="Login" class="btn transparent" />
            <p class="social-text">Or Sign in with social platforms</p>
            <div class="social-media">
                <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
                </a>
                <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
            </form>
            
        </div>
    </div>
</div>
<div class="panels-container">
    <div class="panel left-panel">
        <div class="content">
        <h3>Silahkan Bergabung dengan Kami ?</h3>
        <p>
        Daftar Disini Jika anda Belum Memiliki Akun Thermaface!
        </p>
        <h3 class="mb-3">REGISTER</h3>
        <a class="btn transparent bg-primary" href="/register">Client</a>
        <a class="btn transparent bg-secondary" href="/auth/register">Admin</a>
        </div>
        <img src="/img/thermaface.png" class="image" alt="" />
    </div>
</div>
    
    
    
    
       