<nav class="navbar navbar-expand-lg navbar-light bg-white rounded-pill shadow-sm mb-4 bg-body rounded">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-lg-0">
                <h3 style="color: rgb(20, 20, 20);" ><%= typeof title != 'undefined' ? title : 'Haa' %></h3>
            </ul>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-black text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/public/images/profile.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                    <span class="d-none d-sm-inline mx-1"><%= typeof name != 'undefined' ? name : '' %></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                    <li><a class="dropdown-item" href="/users/reset-password">Reset password</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/users/logout">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>